.jumbotron {
  background: url(../../assets/profileHeader.jpg) no-repeat;
  background-size: cover;
  height: 8rem;
}

.img-header {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.name-header {
    padding-top: 4rem;
    padding-left: 8.4rem;
}

.bio-header {
    padding-left: 8.4rem;
    color: gray;
}

.button-tags {
    border-radius: 3rem;
    font-size: 20px;
    padding: 12px 4rem;
}

.input-profile{
    /* margin-top: 0.8rem; */
    border: none;
    border-bottom: 1px solid #000000;
}


@media only screen and (min-width: 480px) {
  /* Styles for wide mobiles (480px) and above */

}

@media only screen and (max-width: 768px) { 
  /* Styles for tablets/netbooks (768px) and up */
  .button-tags {
    border-radius: 3rem;
    font-size: 0.7rem;
    padding: 1rem 2rem;
}


}

@media only screen and (min-width: 1024px) { 
  /* Styles for large screens (desktops 1024px) and above */
 
}